<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/index.css">
</head>
<body>

    <%- include('partials/header') %> 


<div class="conteudo">
      <div class="row">
        <div class="col">
          <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <a style="text-decoration: none;" href="/sobre">
                  <h1 class="conteudo-principal-escrito-titulo">RECRUTA DIGITAL</h1>
                </a>
                <h2 class="conteudo-principal-escrito-subtitulo">Escolha os melhores profissionais para sua empresa!</h2>
                <a href="/login"><button class="conteudo-principal-escrito-botao">Procurar!</button></a>
            </div>
            <img src="img/143b8e1550deda3eadf5a8c0045cbb0f-robo-de-brinquedo-plano.png" class="conteudo-principal-imagem"/>
        </section>
        </div>
      </div>

      
      <div class="row">
        <div class="col">
          
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">O que fazemos por você?</h3>
            <p class="conteudo-secundario-paragrafo">1. Cria um <strong>sistema de verificação capcha</strong> para novos membros garantirem que não são robôs</p>
            <p class="conteudo-secundario-paragrafo">2. Possui um <strong>sistema de banimento automático</strong> para links suspeitos que forem enviados na comunidade</p>
            <p class="conteudo-secundario-paragrafo">3. <strong>Sistema de avisos e banimento manual</strong>, para pessoas administradoras utilizarem</p>
         </section>
        </div>
      </div>
</div>
<%- include('partials/footer') %> 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="/index.js"></script>
</html>