/* remove a linha dos links */
a {
    text-decoration: none;
  }
  
  /* esconde as ancoras da tela */
  a.links {
    display: flex;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    background-color: #F9F4FF;
    width: 700px;
    height: auto;
    min-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 40px;
    max-width: 100%;
    margin: 0;
  }
  
  .imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }
  
  .logo-login {
    width: 10rem;
    padding: 5%;
  }
  
  .img-login {
    width: 20rem;
    padding-top: 13%;
  }
  
  .form-login {
    background-color: #00979C;
    border-radius: 0 40px 40px 0px;
    color: #fff;
    height: auto;
    min-height: 400px;
  }
  
  .form-login h1 {
    padding-top: 10%;
    font-weight: bolder;
    padding-left: 4%;
  }
  
  .form-cadastro {
    background-color: #00979C;
    border-radius: 0 40px 40px 0px;
    color: #fff;
    height: auto;
    min-height: 400px;
  }
  
  .form-cadastro h1 {
    padding-top: 4%;
    font-weight: bolder;
    padding-left: 4%;
  }
  
  .campo {
    padding: 3%;
  }
  
  .campo input {
    border-radius: 20px;
    border: none;
    padding: 2%;
    width: 15rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
  }
  
  .campo input:focus {
    background-color: #F9F4FF;
  }
  
  .login_span {
    color: rgb(200, 200, 200);
    font-size: small;
    padding: 1%;
    display: none;
  }
  
  .check {
    margin-left: 3%;
  }
  
  .btn1 {
    border-radius: 20px;
    border: none;
    background-color: #1F144A;
    color: #fff;
    padding: 2%;
    margin: 3%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
  }
  
  .btn2 {
    border-radius: 20px;
    border: none;
    background-color: #F9F4FF;
    color: #1F144A;
    padding: 1%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
  }
  
  .btn1:disabled {
    background-color: #F9F4FF;
    color: #1F144A;
  }
  
  .btn2:hover {
    background-color: #1F144A;
    color: #fff;
  }
  
  .conta {
    text-align: center;
    padding-bottom: 2%;
  }
  
  /* placeholder */
  ::-webkit-input-placeholder {
    color: #0000005d;
    font-family: 'Fira Code', monospace;
  }
  
  input {
    outline: none;
  }
  
  .eye-password {
    cursor: pointer;
  }
  
  /* Botão voltar tela de login */
  
  .botao-voltar:hover {
    background-color: #3F3E74;
  }
  
  .botao-voltar a {
    color: #fff;
  }