<nav class="navbar navbar-expand-lg cabecalho-menu-item" style="background-color: #e9eef8;">
  <div class="container-fluid">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/arduino/arduino-original.svg" class="cabecalho-imagem"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Entrar</a>
        </li>
        <li>
          <a class="nav-link" href="/recrutar">Recrutar</a>
        </li>
        <li>
          <a class="nav-link" href="/sobre">Sobre</a>
        </li>
          <!--         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
          -->
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  <!--
    HEADER 1 SEM BOOTSTRAP 
     <header class="cabecalho">
      <a href="/"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/arduino/arduino-original.svg" class="cabecalho-imagem"/> </a>
      <nav class="cabecalho-menu">  
        <a class="cabecalho-menu-item" href="/login">Entrar</a>
        <a class="cabecalho-menu-item" href="/recrutar">Recrutar</a>
        <a class="cabecalho-menu-item" href="/sobre">Sobre</a>
      </nav>
  </header>
  -->

<!--
  HEADER 2 COM BOOTSTRAP
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid cabecalho-menu-item">
          <a class="navbar-brand " href="/"><img class="cabecalho-imagem" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="nodejs-img"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Entrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/suporte">Suporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header> 

<a class="cabecalho-menu-item" href="https://www.instagram.com/olirrvt_/">Instagram</a>
<a class="cabecalho-menu-item" href="https://github.com/olirrvt">GitHub</a>
<a class="cabecalho-menu-item" href="#">Contato</a>

-->

